.TestimonialItem {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position:relative;
    height:450px;
    width:100vw;
    max-height:600px;
    overflow:hidden;
}

.TestimonialItem-text {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index:2;

}

.TestimonialItem-title{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.TestimonialItem-title h4{
    font-size: 2vmax;
    color:white;
    text-align:center;
    width:80%;
}

.TestimonialItem-testimonial {
    background-color:#D7CEC7;
    width:80%;
    border-radius: 5px;
}

.TestimonialItem-testimonial p{
    font-size: 1.7vmax;
    text-align:left;
    margin:5px 15px 5px 8px;
}

.TestimonialItem-name{
    display:flex;
    flex-direction: column;
    align-items:right;
    color:white;
}

.TestimonialItem-name span{
    text-align:right;
    color:white;
    font-size: 1.5vmax;
}

.TestimonialItem-background-image {
    transition:0.4s;
    position:absolute;
    z-index:1;
    right:0%;
    width:100vw;
    height:auto;

    border-radius: 5px;
    overflow:hidden;
}

.TestimonialItem-background-image img{
    position:relative;
    float:right;
    height:auto;
    width:100vw;
    filter: blur(4px) grayscale(0%) brightness(50%);
}

.TestimonialItem-hovered {
    transition:0.4s;
    filter: blur(0px) grayscale(0%) brightness(50%);
}


@media screen and (min-width: 768px) {
    .TestimonialItem {
        width:100%;
    }

    .TestimonialItem-text {

        width:100%;
        align-items: center;
    }

    .TestimonialItem-title {
        width:100%;
        text-align:left;
    }

    .TestimonialItem-title h4{

        text-align:left;
    }

    .TestimonialItem-testimonial p{
        text-align:left;
    }

    .TestimonialItem-name{
        text-align:left;
        width:80%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .TestimonialItem {
        width:100%;
    }

    .TestimonialItem-text {
        justify-content: left;
        width:60vw;
        position:relative;
        right:20%;
    }

    .TestimonialItem-title {
        width:100%;
        text-align:left;
    }

    .TestimonialItem-title h4{
        font-size:3vmax;
        text-align:left;
    }

    .TestimonialItem-testimonial p{
        text-align:left;
        font-size:2vmax;
    }

    .TestimonialItem-name{
        text-align:left;
        width:80%;
        font-size:2vmax;
    }

    .TestimonialItem-background-image {
        right:0%;
        width:60vw;
        height:auto;
    }
    
    .TestimonialItem-background-image img{
        width:60vw;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .TestimonialItem {
        width:100%;
    }

    .TestimonialItem-text {
        justify-content: left;
        width:60vw;
        position:relative;
        right:20%;
    }

    .TestimonialItem-title {
        width:100%;
        text-align:left;
    }

    .TestimonialItem-title h4{
        font-size:3vmax;
        text-align:left;
    }

    .TestimonialItem-testimonial p{
        text-align:left;
        font-size:2vmax;
    }

    .TestimonialItem-name{
        text-align:left;
        width:80%;
        font-size:2vmax;
    }

    .TestimonialItem-background-image {
        right:0%;
        width:60vw;
        height:auto;
    }
    
    .TestimonialItem-background-image img{
        width:60vw;
    }
}