.MobileMenu {
    display:flex;
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 4;
    top: 0;
    right: 0;
    background-color: rgb(0,0,0);

    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5s;
}

/* .reveal-mobile-menu {
    display:flex;
    flex-direction:column;
    height: 100vh;
    overflow: hidden;
} */

.MobileMenu-list {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.MobileMenu-item  {
    margin-bottom:4vh;
}

.MobileMenu-item a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
    text-align: right;
    margin-right:4vmax;
}

.MobileMenu-item a:hover {
    transition: 0.7s;
    color:white;
}

.MobileMenu::-webkit-scrollbar {
    display: none;
  }

.stop-scroll {
    height: 100vh;
    overflow: hidden;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .MobileMenu {
        display:none;
    }
    .reveal-mobile-menu {
        display:flex;
        flex-direction:column;
        height: 100vh;
        overflow: hidden;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}