header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
    transition:0.4s;
    background:transparent;
    padding:10px 0 10px 0;
    border-bottom: 1px solid rgb(124, 124, 124);
    overflow: hidden;
    /* -webkit-box-shadow:0 0 10px rgba(0,0,0,0.5);
    -moz-box-shadow:0 0 10px rgba(0,0,0,0.5); 
    box-shadow:0 0 10px rgba(0,0,0,0.5);
     */
}

.navbar-collapse {
    width:100%;
}

.Navbar-logo {
    width:auto;
    height:5vmax;
}


.navbar-brand img {
    height:auto;
    width:25%;
}

.Navbar-brand-text {
    display:flex;
    justify-content: center;
    font-weight:bold;
    font-size:2.8vmax;
    color:rgb(255, 255, 255); 
    text-decoration: none;

}

.brand-text {
    width:60%;
}

.brand-text a{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:center;
    align-items: left;
}

.Navbar-navigation {
    display:none;
    width:100%;
}

.Navbar-link-text {
    font-size:1.2rem;
    color:rgb(255, 255, 255); 
    text-decoration: none;
}

.Navbar-link-text:hover {
    color:rgb(173, 173, 173); 
}

.navbar-brand {
    display:flex;
    justify-content: center;

}

.Navbar-NavbarBurger {
    display:flex;
}

/** Navbar CSS for when scrolling down page
*/

.scrolled{
    position: fixed;
    height: 100%;
    max-height: 70px;
    background-color:rgb(22, 22, 22);
    transition: 0.4s;
    padding:0 0 0 0;
}

.scrolled .navbar .container .navbar-brand .Navbar-brand-text{
    font-weight:bold;
    font-size:2.5vmax;
    color:white;
}

.scrolled .navbar .container .navbar-brand img{
    height:auto;
    width:20%;
}

.scrolled .navbar .container .Navbar-navigation  .navitem .Navbar-link-text{
    font-size:1rem;
}

#collapse{
    position: absolute;
    z-index: 1;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .Navbar-brand-text {
        font-weight:bold;
        font-size:1.8rem;
        color:rgb(255, 255, 255); 
        text-decoration: none;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .Navbar-brand-text {
        font-weight:bold;
        font-size:2.3rem;
        color:rgb(255, 255, 255); 
        text-decoration: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .navbar {
        padding:0;
        height:100%;
    }

    .navbar-brand img {
        width:15%;
    }

    .Navbar-brand-text {
        font-size:2.1rem;
    }

    .Navbar-link-text {
        display:flex;
        font-size:1.5rem;
    }

    .scrolled .navbar .container .navbar-brand .Navbar-brand-text{
        font-weight:bold;
        font-size:1.6rem;
    }

    .scrolled .navbar .container .navbar-brand img{
        width:13%;
    }

    .scrolled .navbar .container .Navbar-navigation  .navitem .Navbar-link-text{
        font-size:1.35rem;
    }

    .Navbar-navigation {
        display:flex;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .navbar {
        padding:0;
        height:100%;
    }

    .navbar-brand img {
        width:14%;
    }

    .Navbar-brand-text {
        font-size:2.5rem;
    }

    .Navbar-link-text {
        font-size:1.7rem;
    }

    .scrolled .navbar .container .navbar-brand .Navbar-brand-text{
        font-weight:bold;
        font-size:2rem;
    }

    .scrolled .navbar .container .navbar-brand img{
        width:12%;
    }

    .scrolled .navbar .container .Navbar-navigation  .navitem .Navbar-link-text{
        font-size:1.45rem;
    }
}