
.videoTag {
    position:absolute;
    width: auto; 
    height: 100vh;
    left:0%;
    top:0%;
    object-fit: cover;
    overflow: hidden;
    z-index:-1;
    filter: grayscale(0%) brightness(30%);
}

.HomepageBackground video{
    width: auto; 
    min-width:100vw;
    top:0%;
}
/* @media (min-aspect-ratio: 16/9) {
    .videoTag {
        width:100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9) {
    .videoTag { 
        width:auto;
        height: 100%;
    }
} */